body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.flex-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 10rem;
  color: grey;
  word-spacing: 0.8rem;
}

.fc1 {
  overflow: hidden;
  font-weight: bold;
  color: grey;
  background-color: white;
  border: none;
}

.boxblack {
  overflow: hidden;
  margin-left: 0.8rem;
  font-weight: bold;
  background-color: white;
  border: solid 0.15rem;
  padding: 0.75rem 1.6rem;
  color: black;
}

.top {
  display: flex;
  justify-content: center;
  background-color: #2d2641;
}

.topper {
  width: 38%;
  position: relative;
  right: 2.7rem;
}

.tophr {
  overflow: hidden;
  height: 0;
  border: solid 0.01rem;
  width: 9.9rem;
  color: white;
  margin-top: 20%;
  position: relative;
  right: 12.95rem;
}

.whitehd {
  font-size: 5rem;
  color: white;
  margin-bottom: 20px;
  line-height: 0.78;
}

p {
  font-family: sans-serif;
  color: white;
  line-height: 2;
  margin-top: 2.5rem;
  font-size: larger;
}

.boxwhite {
  overflow: hidden;
  font-weight: bold;
  background-color: #2d2641;
  border: solid 0.15rem;
  padding: 0.75rem 1.6rem;
  color: white;
}

.introright {
  overflow: hidden;
  position: absolute;
  right: 0px;
  bottom: 19.1%;
  height: 70%;
}
.introleft {
  overflow: hidden;
  position: absolute;
  left: 0px;
  height: 70%;
  top: 72.5%;
}

.intro {
  height: 70%;
  position: relative;
  left: 5px;
  top: 115px;
}

.middlehr {
  overflow: hidden;
  margin-top: 16%;
  position: relative;
  right: 32.8rem;

  border: solid 0.01rem;
  width: 9.9rem;
  color: lightgray;
}

.blackhd {
  overflow: hidden;
  font-size: 4.65rem;
  color: black;
  margin-bottom: 7%;
  position: relative;
  margin-top: 4%;
  left: 9.75rem;
}

.flex-container2 {
  justify-content: space-between;
  overflow: hidden;
  display: flex;
  position: relative;
  left: 9.75rem;
  color: grey;
  width: 79.5%;
}

h3 {
  overflow: hidden;
  font-family: serif;
  font-size: 2rem;
  color: black;
}

.fc2 {
  overflow: hidden;
  font-size: 1.15rem;

  font-family: sans-serif;
  width: 24.2rem;
}

.flex-container3 {
  margin: 9.75rem;
  background-color: #2d2641;
}

.fc3 {
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
  justify-content: space-between;
  align-items: center;
}

.whitehd2 {
  overflow: hidden;
  font-size: 4.25rem;
  color: white;
  /* margin-bottom: 20px; */
  line-height: 1;
  width: 37rem;
}

.hww {
  position: absolute;
  left: 60.5rem;
  top: 227%;
  opacity: 0.25;
  overflow: hidden;
  height: 31.5%;
}

.flex-container4 {
  background-color: #fafafa;
  height: 27.5rem;
}

.footer-pattern {
  position: absolute;
  top: 126.3rem;
}

.flex41 {
  width: 79.5%;
  margin-left: 9.7rem;
  display: flex;
  position: relative;
  top: 4rem;
  justify-content: space-between;
}

.bottomhr {
  border: solid 0.1rem;
  color: lightgray;
  width: 79.5%;
  margin-top: 6rem;
}

.flex42 {
  text-transform: uppercase;
  font-family: sans-serif;
  display: flex;
  font-weight: bold;
  position: relative;
  left: 9.7rem;
  width: 79.5%;
  justify-content: space-between;
  line-height: 2rem;
  top: 2.5rem;
}

.flex421 {
  font-weight: bold;
  color: grey;
  margin-bottom: 2rem;
}

.attribution {
  font-family: sans-serif;
  margin-top: 5rem;
  color: grey;
  text-align: center;
  font-size: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.AV {
  color: darkgray;
}
